@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(white 1px, black 1px);
    background-size: 20px 20px;
    opacity: 0.1;
    z-index: -1;
    animation: starScroll 60s linear infinite;
}

@keyframes starScroll {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}
